#full-calculator-container{
max-width: 500px;}
.row{
    box-sizing: content-box;
}

#display{
    height: 60px;
    background-color: white;
    border-radius: 5px;
    display: flex;
   justify-content: end;
   align-items: center;
}
.grey-color{
    background-color: rgb(234, 234, 234);
}


.button{
    cursor: pointer;
    background-color: white;
}
.button:hover{
   background-color: orange;
}
#reset-buttom:hover{
background-color: orange;
}

.color{
    background-color: rgb(196, 25, 25);
    color: white;
}